{% extends 'home.html' %}

{% block content %}
    <header>
    <div
    class="p-5 text-center bg-image text-white"
    style="
      background-color: grey;
      height: 100vh;
    "
  >
<h1 style="color:black;">Wszystkie adresy</h1>
    {% for adres in adresy %}
        <p></p>
    <tr>
						<td><a class="btn btn-sm btn-success" href="adres_edit/{{adres.id}}" >Edit</a></td>
						<td>{{adres}}</td>
            <td><a class="btn btn-sm btn-danger" href="adres_delete/{{adres.id}}" >Delete</a></td>
    </tr>
    {% endfor %}
    </div>
    </header>
{% endblock %}
